body{
    background-color: #369292;
}

section{
    margin: 70px auto;
    text-align: center;
    width: 760px;
}

section a{
    background-color: #EDEDED;
    border-radius: 50%;
    color: #444;
    font-size: 5em;
    line-height: 60px;
    padding-bottom: 12px;
    position: relative;
    text-decoration: none;
    width: 72px;
    z-index: 3;
}

section a:hover{
    color: black;
    background-color: #CDCDCD;
}

section a, #slider{
    display: inline-block;
    vertical-align: middle;
}

#slider{
    background-color: #369292;
    border-radius: 4px;
    border: 10px solid #EDEDED;
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.3);
    overflow: hidden;
    position: relative;
    width: 500px;
    height: 287px;
    z-index: 5;
}

#slider ul{
    margin: 0;
    padding: 0;
    position: relative;
    
}

#slider li{
    float: left;
    font-size: 30px;
    line-height: 167px;
    list-style: none;
    margin: 0;
    position: relative;
}
#slider li img{
    height: 287px;
    width: 260px;
}


#next{
    left: -35px;
}

#next:hover{
    left: -25px;
}

#previous{
    right: -35px;
}

#previous:hover{
    right: -25px;
}